<h1>Contact</h1>

<form action="/contact" method="POST">
 
    <label for="email">Email</label>
    <input class="form-control" type="text" name="email" id="email" placeholder="you@example.com">
            
    <label for="message">Message</label>
    <input class="form-control" type="text" name="message" id="message">
    <button>Send</button>
</form>

<a href="/">Go Back</a>

